:root {
  --font: "Comfortaa", cursive;
  --fs-big: clamp(1.4rem, 3.5vw, 3.5rem);
  --fs-medium: clamp(1.3rem, 3.5vw, 3rem);

  --accordion-gap: 2rem;

  --clr-primary: hsl(0, 0%, 100%);
  --clr-text: hsl(220, 25%, 45%);
  --clr-border: hsl(0, 0%, 85%);
  --clr-shadow: hsl(0, 0%, 80%);
  --clr-hover: hsl(226, 73%, 72%);

  --transition-duration: 0.4s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  display: grid;
  place-items: center;

  font-family: var(--font);
  font-size: var(--fs-medium);

  overflow-y: scroll;

  background-image: url("./images/noise.jpg");
  background-size: 5%;

  color: var(--clr-text);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/*
* Accordion
*/

.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--accordion-gap);

  width: 90%;
  max-width: 80rem;

  margin-block: 3rem;
}

.accordion-title {
  padding-left: var(--accordion-gap);

  font-size: var(--fs-big);
}

.accordion-menu {
  display: flex;
  flex-direction: column;
  gap: min(var(--accordion-gap), 2vw);
}

.accordion-menu > * {
  border-top: 0.2rem solid var(--clr-border);
}

.accordion-item {
  display: grid;
  grid-template-columns: auto 1fr;
}

.accordion-item__content {
  max-height: 0;

  grid-column: 1 / -1;
  grid-row: 2;

  border-top: 0.2rem solid var(--clr-border);

  overflow: hidden;

  transition: max-height var(--transition-duration) linear,
    box-shadow var(--transition-duration) ease-out; /*hover out*/
}

.accordion-item__content figure {
  margin-block: min(var(--accordion-gap), 2vw);

  scale: 0 0;

  opacity: 0;

  transform-origin: center center;

  transition: scale var(--transition-duration) linear,
    opacity var(--transition-duration) ease-in, filter 0.3s linear; /* scale down */
}

.accordion-item__content img {
  margin: auto;
}

input {
  grid-row: 1 / 3;
  grid-column: 1 / -1;

  appearance: none;

  cursor: pointer;

  z-index: 1;
}

label {
  grid-row: 1;
  grid-column: 1;

  padding: var(--accordion-gap);

  font-size: var(--fs-medium);

  background-color: transparent;

  transition: color 0.3s linear;
}

.accordion-item__icon {
  width: 1.3rem;

  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: end;

  margin-right: var(--accordion-gap);

  opacity: 0;

  transition: rotate var(--transition-duration) ease-in-out,
    opacity 0.3s ease-in-out;
}

/*
* Hover Effects
*/
@media (hover: hover) and (pointer: fine) {
  .accordion:hover {
    cursor: pointer;
  }

  .accordion:hover .accordion-item__icon {
    opacity: 1;
  }

  input:hover + label {
    color: var(--clr-hover);
  }

  input:checked:hover ~ .accordion-item__content > figure {
    filter: brightness(120%);
  }

  input:not(:checked):hover ~ .accordion-item__icon,
  .item:hover > .accordion-item__icon {
    rotate: 45deg;
  }

  input:not(:checked):hover ~ .accordion-item__content,
  .item:hover > .accordion-item__content {
    height: fit-content;
    max-height: max(30rem, 100vh);

    box-shadow: inset 0 1.1rem 0.8rem -1rem var(--clr-shadow),
      inset 0 -1.1rem 0.8rem -1rem var(--clr-shadow);

    transition: max-height var(--transition-duration) linear,
      box-shadow var(--transition-duration) ease-out; /*hover up*/
  }

  input:not(:checked):hover ~ .accordion-item__content > figure {
    height: 100%;

    scale: 1 1;

    opacity: 1;

    transform-origin: top center;

    transition: scale var(--transition-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity var(--transition-duration) ease-in; /* scale up */
  }
}

/*
* Checkbox functionality
*/

input:checked + label {
  color: var(--clr-hover);

  cursor: pointer;

  z-index: -1;
}

input:checked ~ .accordion-item__content {
  height: fit-content;
  max-height: max(30rem, 100vh);

  box-shadow: inset 0 1.1rem 0.8rem -1rem var(--clr-shadow),
    inset 0 -1.1rem 0.8rem -1rem var(--clr-shadow);
}

input:checked ~ .accordion-item__content > figure {
  height: 100%;

  scale: 1 1;

  opacity: 1;

  animation: scale 0.8s ease;
}

input:checked:active ~ .accordion-item__content > figure {
  opacity: 0.6;
}

input:checked ~ .accordion-item__icon {
  rotate: 45deg;

  opacity: 1;
}

.accordion-item:focus-visible .accordion-item__icon {
  rotate: 45deg;
  opacity: 1;
}

.accordion-item:focus-visible .accordion-item__content {
  max-height: max(30rem, 100vh);
}

.accordion-item:focus-visible .accordion-item__content > figure {
  scale: 1 1;
  opacity: 1;
}

/*
* Animations
*/

@keyframes scale {
  0% {
    scale: 1 1;
  }

  50% {
    scale: 1.05 1.05;
  }

  100% {
    scale: 1 1;
  }
}

/*
* Media queries
*/

@media only screen and (min-width: 20em) {
  /* 320px */
  .accordion {
    width: 90%;
  }

  .accordion-item__icon {
    width: 2rem;
  }
}

@media only screen and (min-width: 51.25em) {
  /* 820px */
  .accordion {
    width: 70vw;
  }
}

@media only screen and (min-width: 120em) {
  /* 1920px */
  .accordion {
    max-width: 100rem;
  }

  .accordion-title h1 {
    font-size: 8rem;
  }
}
